<app-course-card1 #card1>
    <p class="title" #titleContent>This is the title</p>
    <div class="subTitle">
        <p>as subtitle</p>
    </div>
</app-course-card1>

<mat-divider class="my-4"></mat-divider>
html of course-card1.component.html
<pre>
   <code>{{code}}</code>
</pre>
html of ng-content.component.html (this page)
<pre>
   <code>{{code2}}</code>
</pre>


<!-- <app-course-card1>
    <p class="title">This is the title 2</p>
    <div class="subTitle">
        <p>as subtitle 2</p>
    </div> 
</app-course-card1> -->
<!-- Java Code 
<pre>
  <code [innerHTML]="java_code"></code>
</pre> -->